$blue: #004870;
$do: #ff4445;
$vang:#e8b909;
$trang: #fff;
$den: #000;

* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    color: #333;
}

// @import "../scss_header/header";
